body {
    background-image: linear-gradient(90deg,#144055 , #1d5f7d, #144055);
      color: #04c0ca;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100px;
    }

h1 {
    font-size: 250%;
    color: #04c0ca;
    }